{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<h1 align="center">Guest List</h1>

<div class="add_guests">
    <form method="POST">
        <div align="center">
            <input name="guest" id="guest" class="form-control"></input>
            <select name="group" id="group">
                {% for g in groupsList %}
                    <option value={{g.id}}>{{g.name}}</option>
                {% endfor %}
            </select>
            <br />
            <button type="submit" class="btn btn-primary add-button" name="submit" value="add_guest">Guestlist</button>
            <button type="submit" class="btn btn-primary add-button" name="submit" value="add_guest_waiting">Waitinglist</button>
        </div>
    </form>
    
    <div class=upload_csv>
        <form method="POST" action="" enctype="multipart/form-data" name="upload_csv">
            <p><input type="file" name="file"></p>
            <p><input type="submit" name="submit" value="Upload CSV"></p>
        </form>
        <button type="button" class="close" onClick="deleteAllGuests()">
            <span aria-hidden="true">Delete all guests</span>
        </button>
    </div>   
</div>



<section class="flex-layout">
    <div class="flex-parent">
        <div class=card>
            <p align="center">Pending ({{rowsOpen}})</p>
            <ul class="guestList" id="guestlistOpen">
                {% for guest in guestsOpen %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 2)">
                            <span aria-hidden="true">Accepted</span>
                        </button>
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 3)">
                            <span aria-hidden="true">Declined</span>
                        </button>
                        <button type="button" class="close" onClick="guestDelete({{ guest.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <div class=card>
            <p align="center">Accepted ({{rowsAcc}})</p>
            <ul class="guestList" id="guestlistAccepted">
                {% for guest in guestsAccepted %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 1)">
                            <span aria-hidden="true">Pending</span>
                        </button>
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 3)">
                            <span aria-hidden="true">Declined</span>
                        </button>
                        <button type="button" class="close" onClick="guestDelete({{ guest.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <div class=card>
            <p align="center">Declined ({{rowsDec}})</p>
            <ul class="guestList" id="guestlistDeclined">
                {% for guest in guestsDeclined %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 1)">
                            <span aria-hidden="true">Pending</span>
                        </button>
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 2)">
                            <span aria-hidden="true">Accepted</span>
                        </button>
                        <button type="button" class="close" onClick="guestDelete({{ guest.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <div class=card>
            <p align="center">Waiting ({{rowsWait}})</p>
            <ul class="guestList" id="guestlistWaiting">
                {% for guest in guestsWaiting %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 1)">
                            <span aria-hidden="true">Open</span>
                        </button>

                        <button type="button" class="close" onClick="guestDelete({{ guest.id }})">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</section>



{% endblock %}