{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}

<h1 align="center">Guest List</h1>

<div class="add_guests">
    <form method="POST">

        <div align="center">
            <input name="guest" id="guest" class="form-control"></input>
            <br />
            <button type="submit" class="btn btn-primary" name="submit" value="add_guest">Guestlist</button>
            <button type="submit" class="btn btn-primary" name="submit" value="add_guest_waiting">Waitinglist</button>
        </div>
    </form>
    
    <form method="POST" action="" enctype="multipart/form-data">
        <p><input type="file" name="file"></p>
        <p><input type="submit" name="submit" value="upload_csv"></p>
    </form>
</div>



<section class="flex-layout">
    <div class="flex-parent">
        <div class=card>
            <p align="center">Pending ({{rowsOpen}})</p>
            <ul class="guestList" id="guestlistOpen">
                {% for guest in user.guestsOp %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistOpen', 'GuestlistAccepted')">
                            <span aria-hidden="true">Accepted</span>
                        </button>
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistOpen', 'GuestlistDeclined')">
                            <span aria-hidden="true">Declined</span>
                        </button>
                        <button type="button" class="close" onClick="guestDelete({{ guest.id }}, 'GuestlistOpen')">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <div class=card>
            <p align="center">Accepted ({{rowsAcc}})</p>
            <ul class="guestList" id="guestlistAccepted">
                {% for guest in user.guestsAcc %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistAccepted', 'GuestlistOpen')">
                            <span aria-hidden="true">Pending</span>
                        </button>
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistAccepted', 'GuestlistDeclined')">
                            <span aria-hidden="true">Declined</span>
                        </button>
                        <button type="button" class="close" onClick="guestDelete({{ guest.id }}, 'GuestlistAccepted')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <div class=card>
            <p align="center">Declined ({{rowsDec}})</p>
            <ul class="guestList" id="guestlistDeclined">
                {% for guest in user.guestsDec %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistDeclined', 'GuestlistOpen')">
                            <span aria-hidden="true">Pending</span>
                        </button>
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistDeclined', 'GuestlistAccepted')">
                            <span aria-hidden="true">Accepted</span>
                        </button>
                        <button type="button" class="close" onClick="guestDelete({{ guest.id }}, 'GuestlistDeclined')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

        <div class=card>
            <p align="center">Waiting ({{rowsWait}})</p>
            <ul class="guestList" id="guestlistWaiting">
                {% for guest in user.guestsWait %}
                <li class="list-open">
                    <div class="float-left">
                        {{ guest.name }}
                    </div>

                    <div class="float-right">
                        <button type="button" class="change"
                            onClick="guestChange({{ guest.id }}, 'GuestlistWaiting', 'GuestlistOpen')">
                            <span aria-hidden="true">Open</span>
                        </button>

                        <button type="button" class="close" onClick="guestDelete({{ guest.id }}, 'GuestlistWaiting')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

</section>



{% endblock %}