{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
	%}

	<!-- Login page -->
	<form method="POST">
	  <h2 align="center">Login</h2>
	  <div class="form-group">
		<label for="email">Email Address</label>
		<input 
		  type="email"
		  class="form-control"
		  id="email"
		  name="email"
		  placeholder="Enter email"
		/>
	  </div>
	  <div class="form-group">
		<label for="password">Password</label>
		<input
		  type="password"
		  class="form-control"
		  id="password"
		  name="password"
		  placeholder="Enter password"
		/>
	  </div>
	  <br />
	  <div class="container">
		  <div class="row d-flex justify-content-start ml-0">
			  <div class="col-4 m-0 p-0">
				<form method="POST">
					<button type="submit" name = "submit" class="btn btn-primary" value="login">Login</button>
				</form>
				or
				<button type="submit" name = "submit" class="btn btn-primary" onclick="location.href='/sign-up';" value="signup">Sign Up</button>
			  </div>
		  </div>
	  </div>
	</form>

	{% endblock %}